<p>First Name: {{ firstName?.() }}</p>
<form>
  <input
    type="text"
    class="form-control"
    id="firstName"
    [(ngModel)]="form.firstName.$value"
    name="firstName"
    autocomplete="off"
    #firstNameControl="ngModel"
  />
  Value: {{ form.firstName.$value }}
  <div *ngIf="firstNameControl.touched && form.firstName.$errors">
    Errors: {{ form.firstName.$errors | json }}
  </div>

  <input
    type="text"
    class="form-control"
    id="lastName"
    [(ngModel)]="form.lastName.$value"
    name="lastName"
    autocomplete="off"
  />
  Last name value: {{ form.lastName.$value }}
  <div *ngIf="isTouched(form.lastName) && form.lastName.$errors">
    Errors: {{ form.lastName.$errors | json }}
  </div>
</form>

<button (click)="setDefaultName()" [disabled]="!isValid()">
  Set default name
</button>
<button (click)="toggleLastName()">Disable last name</button>
