<form>
  <input
    type="text"
    class="form-control"
    id="firstName"
    [(ngModel)]="model.firstName.$value"
    name="firstName"
    autocomplete="off"
    #firstName="ngModel"
  />
  Value: {{ model.firstName.$value }}
  <div *ngIf="firstName.touched && model.firstName.$errors">
    Errors: {{ model.firstName.$errors | json }}
  </div>

  <input
    type="text"
    class="form-control"
    id="lastName"
    [(ngModel)]="model.lastName.$value"
    name="lastName"
    autocomplete="off"
  />
  TODO: remove this: {{ model.lastName.$value }}
  <div *ngIf="isTouched(model.lastName) && model.lastName.$errors">
    Errors: {{ model.lastName.$errors | json }}
  </div>
</form>

<button (click)="updateName()" [disabled]="!isValid()">Change name</button>
<button (click)="toggleLastName()">Disable last name</button>
